.rmg-name__zh {
    dominant-baseline: central;
    font-family: Arial, SimHei, STHeitiSC-Medium, PingFangSC-Regular, sans-serif;
}

.rmg-name__en {
    dominant-baseline: middle;
    font-family: Arial, sans-serif;
}

* {
    --rmg-theme-colour: '#F3D03E';
    --rmg-theme-fg: '#fff';
}
