.rmg-name__zh {
    dominant-baseline: central;
    font-family: Arial, SimHei, STHeitiSC-Medium, PingFangSC-Regular, sans-serif;
}

.rmg-name__en {
    dominant-baseline: middle;
    font-family: Arial, sans-serif;
}

:root {
    --rmg-black: #132647;
    --rmg-grey: #a2aaad;
}
