.rmg-name__zh {
    font-family: Arial, SimHei, STHeitiSC-Medium, PingFangSC-Regular, sans-serif;
}

.rmg-name__en {
    font-family: Arial, sans-serif;
}

.rmg-name__serif {
    font-family: serif;
}

.rmg-name__mono {
    font-family: monospace;
}

.rmp-name__zh {
    font-family: Arial, SimHei, STHeitiSC-Medium, PingFangSC-Regular, sans-serif;
}

.rmp-name__en {
    font-family: Arial, sans-serif;
}

:root {
    --rmg-theme-colour: '#F3D03E';
    --rmg-theme-fg: '#fff';
    --rmg-black: #132647;
    --rmg-grey: #a2aaad;
}
